#about-h1 {
	width: 90%;
	margin-left: 2.5%;
	@media @mobile {
		font-size: 3rem;
		text-align: center;
	}
}

#about-main {
	@media @mobile {
		width: 100%;
		margin-bottom: 2%;
	}
	h2 {
		@media @mobile {
			padding-top: 40%;
		}
	}
	.about-section {
		@media @mobile {
			margin-top: 10%;
		}
		.people-text {
			@media @mobile {
				font-size: 1.5rem;
			}
			p {
				@media @mobile {
					font-size: 1.3rem;
					font-weight: bold;
				}
			}
			a {
				@media @mobile {
					font-size: 1rem;
				}
			}
		}
	}
}
