.container {
	width: 100%;
	header {
		width: 100%;
		padding: 1%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		// border: 1px solid red;
		@media @mobile {
			flex-direction: column;
		}
		div {
			width: 60%;
			margin-left: 2.5%;
			// border: 1px solid yellow;
			@media @mobile {
				width: 100%;
				margin: 2%;
			}
			h1 {
				color: @font-color;
				@media @tablet {
					font-size: 5rem;
				}
				@media @mobile {
					font-size: 4rem;
				}
			}
		}
		nav {
			display: flex;
			justify-content: space-around;
			width: 40%;
			align-self: center;
			// border: 4px solid green;
			@media @tablet {
				width: 35%;
			}
			@media @mobile {
				width: 50%;
				flex-direction: column;
				text-align: center;
			}
			a {
				text-decoration: none;
				color: @font-color;
				font-size: 2rem;
				// border: 1px solid rebeccapurple;
				@media @tablet {
					font-size: 2.3rem;
				}
				@media @mobile {
					margin: 1%;
					padding: 2%;
					font-size: 1.5rem;
					border-top: 2px solid @font-color;
				}
				&:hover {
					color: white;
				}
			}
		}
	}
}
